.home {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .background {
    width: 49%;
    height: 104vh;
    background-image: url("../../assets/background.png");
  }
  .main {
    width: 49%;

    h1 {
      text-align: center;
    }
  }
}