.pokedex {
  width: 85%;
  margin: 30px auto;

  .pagination {
    justify-content: center;
  }

  .row {
    display: flex;
    padding: 15px 10px;
    align-items: center;
    height: 80px;
    cursor: pointer;
    @for $i from 1 through 10 {
      .col-#{$i} {
        text-align: center;
        width: percentage(1 / 10) * $i;
      }
    }
  }

  .header {
    background-color: yellow;
    cursor: default;
  }
}