.search {
  width: 45rem;
  margin: 2rem auto;
  max-width: 80%;

  .card {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  .name {
    margin-bottom: 5px;
  }

  .search-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    label {
      margin-right: 10px;
    }

    input {
      font: inherit;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0.15rem 0.25rem;

      &:focus {
        outline: none;
        border-color: #20b1ff;
      }
    }
  }

  button {
    border-radius: 18px;
    color: rgb(119, 119, 119);
    background-color: #fff;
    border: 1px solid rgb(228, 232, 240);
    padding: 3px 8px;
    cursor: pointer;
    margin: 5px 5px 5px 0;

    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }
}

